.projects {
  display: flex;
  height: 100vh;
  background-color: #08070a;
  border-radius: 10px;
  padding: 20px;

  .content {
    display: grid;
    place-content: center;
    gap: 20px;
    text-align: center;
    padding: 20px;
    
  }
  .content h2 {
    color: #fff;
    font-size: 3rem;
    font-family: 'Pixelify Sans Variable', system-ui;
  }
}
