---
import styles from './Projects.module.scss';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Hello World</title>
  </head>
  <body>
    <section class={styles.projects}>
      <div class={styles.content}>
        <h2>List of Projects</h2>
        <div class={styles.grid}>
            <div>One</div>
            <div>Two</div>
            <div>Three</div>
            <div>Four</div>
            <div>Five</div></div>
      </div>
    </section>
  </body>
</html>
