---
import Layout from "@/components/Layout.astro";
---

<html lang='en'>
  <head>
    <title>Brayan's Gallery Page</title>
  </head>
  <Layout title='Brayan M. Cuenca Portfolio'>
    <body class='bg-white text-geist-foreground'>
        <div class="container mt-[10vh] min-h-screen">
            <div class="body ml-[10vw]">
              <h1 class="m-0 mt-2.5 text-[5vw] leading-[5vw] uppercase font-bold">
              Gallery
              </h1>
              <p class="text-white m-0 mt-2.5 text-[3vw] uppercase">
                <!-- Paragraph text goes here -->
                <span class="relative inline-block">
                    <span class="absolute top-0 left-0 w-full h-full bg-geist-accent opacity-50 z-0"></span>
                    <span class="relative z-10">A collection of my favorite photos</span>
                </span>
              </p>
            </div>
            <div class="images flex justify-center relative mt-[5vh]">
              <div class="imageContainer absolute">
                <img
                  src="/bluetwo.jpeg"
                  alt="Blue Image"
                  class="object-cover h-[60vh] w-[50vh] z-10"
                />
              </div>
              <div
                class="imageContainer absolute left-[55vw] top-[15vh] h-[40vh] w-[30vh] z-20"
              >
                <img src="/bluetwo.jpeg" alt="Blue Image" class="object-cover" />
              </div>
              <div
                class="imageContainer absolute left-[27.5vw] top-[40vh] h-[25vh] w-[20vh] z-30"
              >
                <img src="/bluetwo.jpeg" alt="Blue Image" class="object-cover" />
              </div>
            </div>
          </div>
    </body>
</Layout>
</html>