@import 'tailwindcss';

/* Custom colors */
:root {
  --alternative-black: #08090B;
  --text-accent: #d4d4d8;
}

.dark {
  --alternative-black: #08090B;
  --text-accent: #d4d4d8;
}

/* Force dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --alternative-black: #08090B;
    --text-accent:  #d4d4d8;
    /* other dark mode variables... */
  }
}

/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  /* border: dashed 0.5px white; */
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* Selection styles */
::selection {
  background-color: oklch(0.6 0.15 195);
  color: #fff;
}

::-moz-selection {
  background-color: oklch(0.6 0.15 195);
  color: #fff;
}

/* Custom box shadows */
@theme{
  --shadow-input: 
    0px 1px 0px -1px var(--tw-shadow-color),
    0px 1px 1px -1px var(--tw-shadow-color),
    0px 1px 2px -1px var(--tw-shadow-color),
    0px 2px 4px -2px var(--tw-shadow-color),
    0px 3px 6px -3px var(--tw-shadow-color);
    
  --shadow-highlight:
    inset 0px 0px 0px 1px var(--tw-shadow-color),
    inset 0px 1px 0px var(--tw-shadow-color);
}
