---
import Layout from '@/components/Layout.astro';
---

<Layout title='Brayan M. Cuenca Portfolio'>
  <div class='rounded-md p-4 shadow-lg'>
    <h1 class='text-4xl text-accents-7 mb-2 text-center'>Coming Soon</h1>
    <p class='text-xl text-accents-5 text-center'>
      Stay tuned for updates on my latest experiments and projects.
    </p>
  </div>
</Layout>
