---
import Layout from '@/components/Layout.astro';

import '../styles/globals.css';

import { fetchContentfulPosts } from '../lib/blogs/fetchContentfulPosts';
import { fetchProjects } from '../lib/projects/fetchProjects';
import { InfiniteSlider } from '@/components/InfiniteSlider';
import { BentoGrids } from '@/components/BentoGrid';
import BlurryCursor from '@/components/Cursor';
import { CornerRightDown } from 'lucide-react';

let posts: any = [];
try {
  posts = await fetchContentfulPosts();
} catch (error) {
  console.error('Error fetching posts:', error);
}

let projects: any = [];
try {
  projects = await fetchProjects();
} catch (error) {
  console.error('Error fetching projects:', error);
}
---

<Layout title='Brayan M. Cuenca Portfolio'>
  <BlurryCursor client:only isActive={true} />

  <section
    class='relative overflow-hidden flex flex-col justify-center items-start h-screen gap-4'
  >
    <div
      class='rounded-full overflow-hidden w-10 h-10 md:w-10 md:h-10 lg:w-20 lg:h-20'
    >
      <img
        src='/bluetwo.jpeg'
        alt='Brayan Mejia Cuenca'
        class='object-center w-full h-full'
      />
    </div>
    <h1 class='text-base lg:text-xl xl:text-2xl'>Brayan Mejia Cuenca</h1>

    <p class='text-xl md:text-2xl lg:text-3xl text-accents-5'>
      I'm a <span class='text-accents-7'>Full-Stack Developer</span> with a interest
      for crafting
      <span class='text-accents-7'>intuitive and dynamic web applications</span
      >. Leveraging a <span class='text-accents-7'>creative background</span> and
      a
      <span class='text-accents-7'>continuous learning ethos</span>, I build
      modern digital solutions that <span class='text-accents-7'>empower</span>
      and <span class='text-accents-7'>inspire</span>.
    </p>
  </section>

  <section class='m-12 gap-[50px] relative'>
    <h2 class='md:text-xl lg:text-2xl xl:text-4xl mb-4'>Skills</h2>
    <InfiniteSlider client:only />
    <div class='relative h-[30vh] w-full md:w-1/2 lg:w-1/2 mt-16'>
      <p class='absolute text-lg md:text-xl lg:text-2xl text-accents-6'>
        <span class='text-accents-7'>Continuous learning </span> is a core value
        of mine. I'm always looking to expand my skillset and learn new technologies.
        Here are some of the projects I've worked on:
        <CornerRightDown className='inline-block w-6 h-6' />
      </p>
    </div>
  </section>

  <section class='m-12' id='work'>
    <h2 class='md:text-xl lg:text-2xl xl:text-4xl mb-4'>Projects</h2>
    <BentoGrids client:only projects={projects} />
  </section>
</Layout>
