---
import Layout from '@/layouts/Layout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
const blogPosts = await getCollection('blogs');

import Footer from '@/components/footer.astro';
import { BlogCard } from '@/components/BlogCard';
import { ProjectCard } from '@/components/ProjectCard';
import PostCard from '@/components/PostCard.astro';

const postmd = await Astro.glob('/src/pages/blogs/content/*.md');
const projectmd = await Astro.glob('/src/pages/projects/content/*.md');
import { GithubIcon } from 'lucide-react';
---

<Layout title='Brayan M. Cuenca Portfolio'>
  <a
    href='https://github.com/mejiabrayan'
    target='_blank'
    rel='noopener noreferrer'
    class='fixed top-4 right-4 text-accents-8 hover:text-accents-6 transition-colors duration-300'
  >
    <GithubIcon size={24} />
  </a>
  <section
    class='relative flex flex-col justify-center items-start h-screen gap-4'
  >
    <div
      class='rounded-full overflow-hidden w-10 h-10 md:w-10 md:h-10 lg:w-20 lg:h-20'
    >
      <img
        src='/avatar.webp'
        alt='Brayan Mejia Cuenca'
        class='object-center object-cover grayscale w-full h-full'
        draggable='false'
      />
    </div>
    <h1 class='text-base lg:text-xl xl:text-2xl text-accents-7'>
      Brayan Mejia Cuenca
    </h1>

    <p class='text-xl md:text-2xl lg:text-4xl text-accents-7 tracking-tighter'>
      I'm a <span class='italic'>Front-End</span>
      <span class='text-primary-accent font-pixelify text-balance'>
        Developer
      </span>
      who loves to craft on the web. my work is focused on creating
      <span class='text-primary-accent font-pixelify'>intuitive</span>
      <span class='italic'>&</span>
      <span class='text-primary-accent font-pixelify'>dynamic</span> web apps. These
      days I'm working as freelancer and continously improving what I do best:
      <span class='text-primary-accent italic'>Building</span>
    </p>
  </section>

  <section
    id='projects'
    class='flex flex-col justify-center items-start space-y-6'
  >
    <h2 class='italic text-accents-7 text-2xl lg:text-3xl xl:text-5xl'>
      Projects
    </h2>
    <p class='text-accents-6 text-base lg:text-lg'>
      A curated list of projects
    </p>
    <ProjectCard projects={projectmd} client:only />
  </section>

  <section class='space-y-6 mt-6 mb-8' id='blog'>
    <h2 class='text-2xl lg:text-2xl xl:text-5xl text-accents-7 italic'>Blog</h2>
    <p class='text-accents-6 text-base lg:text-lg'>A collection of thoughts</p>
    <div>
      <!-- <BlogCard client:visible posts={postmd} /> -->

      <PostCard post={blogPosts} />
    </div>
  </section>
  <!-- <Footer /> -->
</Layout>
