---
import { aboutMe, email, location } from 'config/site';
---

<astro>
  <div class='max-w-7xl mx-auto px-12'>
    <h2 class='text-4xl font-bold text-[#292929] dark:text-white mb-8'>About</h2>
    <div class='flex flex-col lg:flex-row lg:items-center gap-8'>
      <!-- Text Content -->
      <div
        class='lg:w-2/3 text-gray-400 text-base leading-relaxed prose md:prose-base lg:prose-lg'
      >
        <!-- Truncated aboutMe text initially -->
        <p class='text-[#292929] dark:text-white text-base'>
          <span class='about-me-text' style='display: block;'>
            {aboutMe.substring(0, 400)}
          </span>
          <span class='about-me-full-text hidden' '>
            {aboutMe}
          </span>
          <span class='text-gray-400'>...</span>
        </p>
        <!-- Move the "Read More" button here for better alignment -->
        <div class='mt-4 flex items-center'>
          <button
            id='read-more-button'
            class='text-sm text-gray-600 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300 underline cursor-pointer'
          >
            Read More
          </button>
        </div>
        <div id='/#contact' class='mt-4'>
          <span class='font-bold text-gray-600 dark:text-white'>EMAIL</span>: {
            email
          }<br />
          <span class='font-bold text-gray-600 dark:text-white'>LOCATION</span>:
          {location}
        </div>
      </div>

      <div class='relative lg:w-1/3'>
        <div
          class='absolute -inset-2 rounded-lg opacity-75 blur bg-gradient-to-br from-slate-100 to-slate-200'
        >
        </div>
        <img
          src='/me.JPG'
          alt='Brayan M. Cuenca'
          class='rounded-lg shadow-lg grayscale w-full'
        />
      </div>
    </div>
  </div>
  <!-- Add "Read More" button -->

  <!-- Script to open and close aboutMe section -->
  <script>
    const aboutMeText = document.querySelector(
      '.about-me-text'
    ) as HTMLDivElement;
    const aboutMeFullText = document.querySelector(
      '.about-me-full-text'
    ) as HTMLDivElement;
    const readMoreButton = document.getElementById('read-more-button');
    let isAboutMeOpen = false;

    function toggleAboutMe() {
      if (aboutMeText !== null && readMoreButton !== null) {
        if (isAboutMeOpen) {
          aboutMeText.style.display = 'block';
          aboutMeFullText.style.display = 'none';
          readMoreButton.innerText = 'Read More';
        } else {
          aboutMeText.style.display = 'none';
          aboutMeFullText.style.display = 'block';
          readMoreButton.innerText = 'Read Less';
        }
        isAboutMeOpen = !isAboutMeOpen;
      }
    }

    // Add click event listener to "Read More" button
    readMoreButton?.addEventListener('click', toggleAboutMe);
  </script>
</astro>
