<div
  class='absolute inset-0 grid grid-cols-12 grid-rows-6 gap-4 w-full h-full -z-10 opacity-50'
>
  <div
    class='col-span-4 row-span-3 border border-primary-accent/[0.5] flex items-center justify-center'
  >
  </div>
  <div
    class='col-start-3 col-span-4 row-start-3 row-span-3 border border-white/[0.2] flex items-center justify-center'
  >
  </div>
  <div
    class='col-start-5 col-span-5 row-start-4 row-span-3 border border-white/[0.2] flex items-center justify-center'
  >
  </div>
  <div
    class='col-start-8 col-span-5 row-span-3 border border-primary-accent/[0.5] flex items-center justify-center'
  >
  </div>
  <div
    class='col-start-10 col-span-3 row-start-5 row-span-2 border border-white/[0.2] flex items-center justify-center'
  >
  </div>
  <div
    class='col-start-2 col-span-3 row-start-5 row-span-2 border border-white/[0.2] flex items-center justify-center'
  >
  </div>
  <div
    class='col-start-6 col-span-3 row-start-5 row-span-2 border border-white/[0.2] flex items-center justify-center'
  >
  </div>
</div>
