---
import Nav from './Nav';

import '../styles/globals.css';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <title>Brayan Mejia Portfolio</title>
    <link
      href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css'
      rel='stylesheet'
    />
  </head>
  <body
    class='relative bg-grainy flex flex-col max-w-screen-xl mx-auto h-screen bg-[#121213]'
  >
    <Nav client:only />
    <main
      class='relative flex-grow mx-auto px-20 md:px-30 lg:px-40 xl:px-50 2xl:px-48 pb-10 mt-12'
    >
      <div
        class='absolute -z-10 inset-0 h-full w-full bg-[radial-gradient(#e5e7eb_0.5px,transparent_0.5px)] [background-size:20px_20px] [mask-image:radial-gradient(ellipse_50%_50%_at_50%_50%,#000_60%,transparent_100%)]'
      >
      </div>
      <slot class='flex-grow z-10' />
    </main>
  </body>
</html>
