---
import Nav from './Nav';

import '../styles/globals.css';

---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <title>Brayan Mejia Portfolio</title>
    <link
      href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css'
      rel='stylesheet'
    />
  </head>
  <body class='flex flex-col max-w-screen-xl mx-auto h-screen bg-[#121213]'>
    <Nav client:load />
    <main class='flex-grow mx-auto px-20 md:px-30 lg:px-40 xl:px-50 2xl:px-48'>
      <slot class='flex-grow' />
      <footer />
    </main>
  </body>
</html>
