---
import Nav from './Nav';

import '../styles/globals.css';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <title>Brayan Mejia Portfolio</title>
    <link
      href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css'
      rel='stylesheet'
    />
  </head>
  <body class='flex flex-col max-w-screen-xl mx-auto h-screen bg-[#0b0d10]'>
    <Nav client:load />

    <main
      class='flex-grow mx-auto px-6 sm:px-10 md:px-16 lg:px-24 xl:px-32 2xl:px-40'
    >
      <slot class="flex-grow" />
    </main>
  </body>
</html>
