---
import { cn } from '@/lib/utils';
import { IconArticle, IconHeart } from '@tabler/icons-react';
import { getURL } from '@/lib/url';
import NavLink from './NavLink.astro';

interface NavItemType {
  name: string;
  link: string;
  icon?: any;
}

const navItems: NavItemType[] = [
  {
    name: 'Work',
    link: '/#work',
    // icon: <IconHeart className="h-4 w-4 text-neutral-500 dark:text-accents-8" />,
  },
  {
    name: 'Blogs',
    link: '/blogs',
    // icon: <IconArticle className="h-4 w-4 text-neutral-500 dark:text-accents-8" />,
  },
];

const currentURL = getURL(Astro.url);
---

<div
  class={cn(
    'flex max-w-fit sticky top-10 inset-x-0 mx-auto border border-white/[0.2] rounded-full bg-black shadow-[0px_2px_3px_-1px_rgba(0,0,0,0.1),0px_1px_0px_0px_rgba(25,28,33,0.02),0px_0px_0px_1px_rgba(25,28,33,0.08)] z-[5000] pl-2 pr-8 py-2 items-center justify-center space-x-4'
  )}
>
  <NavLink name='Home' link='/' isActive={currentURL === '/'} client:load />

  {
    navItems.map((navItem) => (
      <NavLink
        name={navItem.name}
        link={navItem.link}
        icon={navItem.icon}
        isActive={currentURL === navItem.link}
        client:load
      />
    ))
  }
</div>
