---
interface Props {
  imageUrl: string;
  opacity?: number;
  speed?: number;
  scale?: number;
}

const { imageUrl, opacity = 45, speed = 0.5, scale = 1.1 } = Astro.props;
const elementId = 'parallax-bg-' + Math.random().toString(36).substr(2, 9);
---

<div class='absolute inset-0 z-[-1] overflow-hidden'>
  <div
    id={elementId}
    class={`absolute inset-0 bg-[url('${imageUrl}')] bg-cover bg-center opacity-${opacity} scale-110 rounded-xl`}
    style='mask-image: radial-gradient(ellipse 50% 50% at 50% 0%, #000 70%, transparent 110%);'
  >
  </div>
</div>

<script define:vars={{ elementId, speed, scale }}>
  import { initParallax } from '../scripts/parallax.ts';
  initParallax(elementId, speed, scale);
</script>