---
import { getCollection, type CollectionEntry, getEntries } from 'astro:content';
import Layout from '@/layouts/Layout.astro';

export async function getStaticPaths() {
  const projectPosts = await getCollection('projects');
  return projectPosts.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

type Props = {
  project: CollectionEntry<'projects'>;
};

const { project } = Astro.props;
const { Content } = await project.render(); 
---

<Layout>
  <div class='meta'>
    <time datetime={project.data.date.toISOString()}>
      {project.data.date.toLocaleDateString(undefined, {
        dateStyle: 'medium',
        timeZone: 'UTC',
      })}
    </time>
  </div>
  <Content />
</Layout>

