---
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';

const projects = (await getCollection('projects')).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<html lang='en'>
  <head>
    <title>My Projects</title>
  </head>
  <body>
    <Layout>
      <header class='text-accents-8 py-16'>
        <div class='container mx-auto px-4'>
          <h1 class='text-4xl font-bold tracking-tight text-center'>
            Projects
          </h1>
          <p class='mt-4 text-center text-accents-6'>
            Curated of my projects that I have worked on.
          </p>
        </div>
      </header>
      <div
        class='absolute inset-0 -z-10 opacity-10 bg-[linear-gradient(to_left,#C9FF18_0.5px,transparent_0.5px),linear-gradient(to_top,#999_1px,transparent_0.5px)] bg-[size:6rem_4rem]
        [mask-image:radial-gradient(ellipse_50%_50%_at_50%_0%,#000_70%,transparent_110%)]'
      >
      </div>
      <main class='relative container mx-auto px-4 py-8 overflow-hidden'>
        {
          projects.map((project) => (
            <article class='mb-8'>
              <li>
                <a
                  href={`/projects/${project.slug}`}
                  aria-label={`Read more about ${project.data.title}`}
                >
                  <h2
                    transition:name='title'
                    class='text-accents-8 text-balance text-2xl font-bold transition duration-300 ease-in-out hover:text-primary-accent hover:cursor-pointer'
                  >
                    {project.data.title}
                  </h2>
                </a>
                <p class='mt-2 text-accents-6'>{project.data.overview}</p>
              </li>
            </article>
          ))
        }
      </main>
    </Layout>
  </body>
</html>
