---
import { getCollection, type CollectionEntry } from 'astro:content';
import Layout from '../../layouts/Layout.astro';

import { ViewTransitions } from 'astro:transitions';

export async function getStaticPaths() {
  const projectPosts = await getCollection('projects');
  return projectPosts.map((project: CollectionEntry<'projects'>) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

interface Props {
  project: CollectionEntry<'projects'>;
}

const { project } = Astro.props;
const { Content } = await project.render();
const { title, overview, cover, link } = project.data;
---

<Layout title={`${title} | Project`}>
  <ViewTransitions />
  <article
    class='prose prose-neutral prose-invert z-0 mt-8 max-w-none leading-normal prose-headings:font-normal prose-h1:mt-16 prose-h1:text-2xl prose-h2:text-xl prose-h3:text-lg prose-p:text-white prose-a:font-normal prose-a:text-white prose-a:underline-offset-2 prose-strong:font-normal prose-strong:text-white prose-code:rounded-sm prose-code:border prose-code:border-white/10 prose-code:bg-primaryy/50 prose-code:px-0.5 prose-code:font-medium prose-code:text-white prose-code:before:hidden prose-code:after:hidden prose-ul:text-white prose-img:m-0 prose-video:m-0'
  >
    <div class='z-10 spacey-1'>
      <div class='text-center italic text-primary text-4xl'>{title}</div>
      <div class='text-center text-primary text-lg'>{overview}</div>
    </div>
    <Content />
  </article>
</Layout>
