---
import Layout from '~/layouts/Layout.astro';
import Carousel from '~/components/ui/carousel.astro';
import { getCollection } from 'astro:content';

const projects = await getCollection('projects');
---

<Layout title='Work | Brayan M. Cuenca'>
  <div class='relative max-w-sm md:max-w-2xl lg:max-w-3xl mx-auto px-4'>
    <header class='text-center mb-20'>
      <h1
        class='text-4xl font-[Tobias] italic text-neutral-300'
        transition:name='work'
        transition:animate='slide'
      >
        Work
      </h1>
      <p class='text-neutral-300/90 mt-2'>
        A collection of projects I've built, exploring various technologies and ideas.
      </p>
    </header>

    <Carousel items={projects} basePath="work" type="project" />
  </div>
</Layout>
