---
import Layout from '~/layouts/Layout.astro';
import Filipe from '~/assets/felipe.jpg';
import Sculpture from '~/assets/sculpture.jpg';
import Cathedral from '~/assets/cathedral.jpg';
import { Image } from 'astro:assets';

const images = [
  {
    src: Filipe,
    alt: 'Felipe profile',
    width: 200,
    height: 200,
  },

  {
    src: Sculpture,
    alt: 'Sculpture', 
    width: 200,
    height: 200,
  },

  {
    src: Cathedral,
    alt: 'Cathedral',
    width: 200,
    height: 200,
  },
];
---

<Layout title='Work | Brayan M. Cuenca'>
  <div class='flex items-center justify-center w-full'>
    <div class='max-w-6xl w-full px-4 overflow-hidden'>
      <div class='flex flex-nowrap overflow-x-auto overscroll-x-contain snap-x snap-mandatory gap-4 pb-4 scrollbar-thin scrollbar-thumb-gray-400 scrollbar-track-gray-200'>
        {
          images.map((image) => (
            <div class="flex-shrink-0 snap-center min-w-[200px]">
              <Image
                src={image.src}
                alt={image.alt}
                width={image.width}
                height={image.height}
                quality={100}
                class='rounded- w-[200px] h-[200px] object-cover'
              />
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
