---
import Layout from '~/layouts/Layout.astro';
import { getCollection } from 'astro:content';
import { Image } from 'astro:assets';

const projects = await getCollection('projects');
---

<Layout title='Work | Brayan M. Cuenca'>
  <div class='relative max-w-3xl mx-auto px-4'>
    <div class='relative'>
      <div
        id='slider'
        class='flex overflow-x-auto snap-x snap-mandatory scrollbar-none scroll-smooth'
        style='scroll-padding: 0 1rem; view-timeline-name: --slider; view-timeline-axis: inline;'
      >
        {
          projects.map((project) => (
            <div
              class='flex-none w-[300px] snap-start px-2 project-card'
              style='view-timeline-name: --reveal; view-timeline-axis: inline;'
            >
              <Image
                src={project.data.cover}
                alt={project.data.title}
                width={300}
                height={300}
                quality={100}
                class='rounded-lg w-full h-[300px] object-cover image-reveal'
              />
              <p class='mt-2 text-sm text-neutral-400 title-reveal'>{project.data.title}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</Layout>
