---
import Layout from '@/layouts/Layout.astro';
import '../../styles/globals.css';
import { ViewTransitions } from 'astro:transitions';

const postmd = await Astro.glob('/src/pages/blogs/*.md');
---

<html lang='en'>
  <head>
    <title>Brayan M. Cuenca Portfolio | Blogs</title>
    <ViewTransitions />
  </head>
  <Layout title='Brayan M. Cuenca Portfolio'>
    <body>
      <header class='text-accents-8 py-16'>
        <div class='container mx-auto px-4'>
          <h1 class='text-4xl font-bold tracking-tight text-center'>Blogs</h1>
        </div>
      </header>
      <main class='container mx-auto px-4 py-8'>
        {
          postmd.map((md) => (
            <article class='mb-8'>
              <li>
                <a
                  href={md.url}
                  class='transition duration-300 ease-in-out hover:text-blue-500 hover:cursor-pointer'
                >
                  <h2 class='text-accents-8 text-2xl font-bold'>
                    {md.frontmatter.title}
                  </h2>
                </a>
                <p class='mt-2 text-accents-6'>{md.frontmatter.description}</p>
              </li>
            </article>
          ))
        }
      </main>
    </body>
  </Layout>
</html>
