---
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';
import Container from '@/components/container.astro';

// Get all blog posts and sort them by date because yes bro
const posts = (await getCollection('blogs')).sort(
	(a:any, b: any) => b.data.date.valueOf() - a.data.date.valueOf()
);
---


<Layout title='Brayan M. Cuenca Portfolio | Blogs'>
<Container as="section" class="min-h-screen gap-4">
    <header >
      <div class='container mx-auto px-4'>
        <h1 class='text-3xl sm:text-4xl font-bold tracking-tight text-center'>
          Blogs
        </h1>
        <p class='mt-4 text-center text-accents-6'>
          I like to write about things I learn.
        </p>
      </div>
    </header>
    <main>
      <ul>
        {
          posts.map((post: any) => (
            <li class='mb-8'>
              <article>
                <a
                  href={`/blogs/${post.slug}`}
                  aria-label={`Read more about ${post.data.title}`}
                  class='block'
                >
                 <h3> {post.data.title}</h3>
                </a>
                <p >{post.data.description}</p>
              </article>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>