---
import Layout from '~/layouts/Layout.astro';
import Carousel from '~/components/ui/carousel.astro';
import { getCollection, type CollectionEntry } from 'astro:content';

type Blog = CollectionEntry<'blogs'>;

const posts: Blog[] = (
  await getCollection('blogs', ({ id }: any) => {
    return id.endsWith('.md') || id.endsWith('.mdx');
  })
).sort((a: Blog, b: Blog) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title='Blog Posts | Brayan M. Cuenca'>
  <div class='relative max-w-sm md:max-w-2xl lg:max-w-3xl mx-auto px-4'>
    <header class='text-center mb-20'>
      <h1
        class='text-4xl font-[Tobias] italic text-neutral-300'
        transition:name='blog'
        transition:animate='slide'
      >
        Blogs
      </h1>
      <p class='text-neutral-300/90 mt-2'>
        Thoughts, ideas, and learnings from my journey in software development.
      </p>
    </header>

    <Carousel items={posts} basePath="blogs" type="blog" />
  </div>
</Layout>
