---
import Layout from '@/layouts/Layout.astro';
import { getCollection } from 'astro:content';
const blogPosts = await getCollection('blogs');

import  ProjectCard  from '@/components/ProjectCard.astro';
import PostCard from '@/components/PostCard.astro';

const projectmd = await Astro.glob('/src/pages/projects/content/*.md');
import { GithubIcon } from 'lucide-react';
import ScrambleTitle from '@/components/Scrambled';
---

<Layout title='Brayan M. Cuenca Portfolio'>
  <a
    href='https://github.com/mejiabrayan'
    target='_blank'
    rel='noopener noreferrer'
    class='fixed top-4 right-4 text-accents-8 hover:text-accents-6 transition-colors duration-300 h-5 md:h-5 lg:h-6 xl:h-8 w-5 md:w-5 lg:w-6 xl:w-8'
  >
    <GithubIcon />
  </a>
  <section
    class='relative flex flex-col justify-center items-start h-screen gap-4'
  >
    <div
      class='rounded-full overflow-hidden w-10 h-10 md:w-10 md:h-10 lg:w-20 lg:h-20'
    >
      <img
        src='/avatar.webp'
        alt='Brayan Mejia Cuenca'
        class='object-center object-cover grayscale w-full h-full'
        draggable='false'
      />
    </div>
    <ScrambleTitle
      title='Brayan Mejia Cuenca'
      animationDelay={600}
      paused={false}
      once={true}
      client:load
    />

    <p class='text-xl md:text-2xl lg:text-4xl text-accents-7 tracking-tighter'>
      Soy un <span class='italic'>Desarrollador</span>
      <span class='text-primary-accent font-pixelify text-balance'>
        Full-Stack
      </span>
      que ama crear en la web. Mi trabajo se enfoca en crear aplicaciones web
      <span class='text-primary-accent font-pixelify'>intuitivas</span>
      <span class='italic'>y</span>
      <span class='text-primary-accent font-pixelify'>dinámicas</span>.
    </p>
  </section>

  <section
    id='projects'
    class='flex flex-col justify-center items-start space-y-6'
  >
    <h2 class='italic text-accents-7 text-2xl lg:text-3xl xl:text-5xl'>
      Projects
    </h2>
    <p class='text-accents-6 text-base lg:text-lg'>
      A curated list of projects
    </p>
    <ProjectCard projects={projectmd}  />
  </section>

  <section class='space-y-6 h-screen mt-6 mb-8' id='blog'>
    <h2 class='text-2xl lg:text-2xl xl:text-5xl text-accents-7 italic'>Blog</h2>
    <p class='text-accents-6 text-base lg:text-lg'>A collection of thoughts</p>

    <PostCard post={blogPosts} />
  </section>
</Layout>
