---
import '../styles/globals.css';
import { FloatingNav } from '@/components/FloatingNavbar';
import Menu from '@/components/Menu';
import Footer from '@/components/footer.astro';
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='icon' type='image/x-icon' href='/favicon.ico' />
    <title>Brayan Mejia Cuenca's Website Portfolio</title>
    <link
      href='https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css'
      rel='stylesheet'
    />
    <ViewTransitions />
  </head>
  <body
    class='container mx-auto w-full max-w-4xl bg-geist-background space-y-12 antialiased selection:bg-primary-accent selection:text-black'
  >
    <FloatingNav client:only />
    <main>
      <slot />
      <Footer />
    </main>
  </body>
</html>
