---
const { frontmatter } = Astro.props;
import '../styles/globals.css';
---

<html>
  <head>
    <title></title>

    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta
      name='description'
      content="Brayan's curated list of projects and portfolio website. Crafted with love and passion."
    />
    <meta
      name='keywords'
      content='web development, front-end, full-stack, design, portfolio, blog, UI, UX'
    />
    <meta name='author' content='Brayan Mejia Cuenca' />
    <meta property='og:title' content={`${frontmatter.title}`} />
    <meta
      property='og:description'
      content="Brayan's personal blog and portfolio website. I write about web development, design, and other topics."
    />
    <meta property='og:url' content={frontmatter.image} />
 
    <meta property='og:image' content='/mejiabrayan.webp' />
  </head>

  <body>

      <main class='h-screen flex flex-col items-center justify-center'>
        <main
          class='max-w-3xl px-4 prose text-accents-7 prose-headings:text-accents-7 prose-blockquote:text-accents-8 prose-a:text-blue-500 prose-blockquote:bg-neutral-900'
        >
          <header class='relative rounded-xl overflow-hidden mb-8'>
            <img
              class='w-full h-64 rounded-xl object-cover object-center'
              src={frontmatter.cover}
              alt='hero image'
              draggable='false'
              transition:name='title'
              loading="lazy"

            />
            <div
              class='absolute inset-0 bg-gradient-to-b from-transparent to-black opacity-20'
            >
            </div>
          </header>
          <slot />
        </main>
      </main>
  </body>
</html>
